#outercontainer{
    border:none;
    display: grid;
    grid-template-columns: 50% 50%;


}
#header{
    
    display:inline-flex;

}
#contentcontainer{
    padding-top: 0%;
    margin: 0%;
    box-sizing:border-box ;

}